<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    href="{{ url_for('static', filename='styles/style.css') }}"
    rel="stylesheet" 
    />
</head>
<body>
    <div class="sidebar">
        <header class="sidebar-header">
            <h1>Notetaker</h1>

            <div class="plus-group">
                <button
                    id="plus-button"
                    type="button">
                    <span>+</span>
                </button>

                <div id="menu" hidden>
                    <button id="new-folder" type="button">New Folder</button>
                    <button id="new-note" type="button">New Note</button>
                </div>
            </div>
        </header>

        <div class="files">
        </div>

        <footer class="sidebar-footer">
            <h2>By Justin Tran</h2>
            <button id="hide-sidebar" type="button" title="Hide sidebar">
                <img
                    src="{{ url_for('static', filename='img/hide-sidebar.svg') }}"
                    width="32"
                    height="32"
                alt="hide-sidebar"
                >
            </button>
        </footer>
    </div>

    <main class="workspace">
        <button id="show-sidebar" type="button" title="Show sidebar" hidden>
            <img
                src="{{ url_for('static', filename='img/show-sidebar.svg') }}"
                width="32"
                height="32"
                alt=""
            >
        </button>
    </main>

<script src="{{ url_for('static', filename='scripts/app.js') }}"></script>
</body>
</html>